<%- include('partials/header') %>

<main class="container" id="account">
    <div>
        <img src="/uploads/<%= account.picture %>" alt="">
        <a href="/account/edit/<%= account.u_id %>">Edit</a>
    </div>
</main>

<%- include('partials/footer') %>