@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    box-sizing: border-box;
}

.error {
    background-color: #ff2511;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

.container {
    padding-left: 150px;
    padding-right: 150px;
}

header {
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #383838;
}

nav a {
    padding: 5px 0;
    margin-left: 7px;
}

nav a:hover {
    border-bottom: 3px solid #383838;
}

.access {
    width: 450px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 60px auto 0;
}

.access h1 {
    text-align: center;
}

.access input {
    font-size: 20px;
    padding: 4px;
}

.access input[type="submit"] {
    background-color: #383838;
    border: 1px solid #383838;
    color: #fff;
    letter-spacing: 3px;
}

.access input[type="submit"]:hover {
    background-color: #555555;
}

.access a {
    text-decoration: none;
    font-weight: bolder;
    color: #1863d6;
}

.access a:hover {
    text-decoration:2px underline #1863d6;
}

#account #profile {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#account #profile * {
    width: max-content;
    margin: 0 auto;
}

#account #profile div {
    width: 200px;
    height: 200px;
}

#account #profile img {
    width: 100%;
    border-radius: 50%;
}

#account #profile p {
    font-size: 19px;
}

#account #profile a {
    background-color: #008000;
    font-size: 18px;
    color: #fff;
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
}

#edit-account form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#edit-account form * {
    width: max-content;
}

#edit-account form > input {
    font-size: 19px;
    margin-bottom: 4px;
}


#edit-account div * {
    font-size: 18px;
    color: #fff;
    padding: 4px 8px;
    margin-right: 7px;
    cursor: pointer;
    border-radius: 5px;
}

#edit-account div a {
    background-color: #ff0000;
    text-decoration: none;
    border: 1px solid #ff0000;
}

#edit-account div input {
    background-color: #008000;
    border: 1px solid #008000;
}

#dashboard {
    width: 60%;
    margin: 0 auto;
}

#dashboard form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

#dashboard form textarea {
    font-size: 19px;
    padding: 8px;
}

#dashboard form input {
    width: max-content;
    font-size: 19px;
    padding: 4px 8px;
    color: #fff;
    background-color: #1863d6;
    border: 1px solid #1863d6;
    border-radius: 5px;
}

#dashboard .post {
    margin-bottom: 8px;
}

#dashboard .post div {
    display: flex;
}

#dashboard .post div a {
    color: #1863d6;
    text-decoration: none;
    margin-right: 5px;
}

#dashboard .post div p {
    color: #555555;
}

